.link {
  display: inline-block;
  text-decoration: none;
  padding: 13px 16px;
  margin-bottom: 6px;
  border-radius: 4px;
  font-weight: 700;
  color: #1677ff;
}

.link:hover,
.link.active {
  color: #fff;
  background-color: #1677ff;
}
